conversation-nodered-flow.txt
[{"id":"ff783546.737a8","type":"tab","label":"0.まず始めに"},{"id":"e53f5d4a.2e3208","type":"tab","label":"1.学習・データ登録"},{"id":"816137dd.87623","type":"tab","label":"デバッグ"},{"id":"fe7bad3a.02a57","type":"tab","label":"2.メイン"},{"id":"8cd22ed3.398b1","type":"tab","label":"9.初期化"},{"id":"df3729e8.8ea888","type":"comment","z":"e53f5d4a.2e3208","name":"1. Watsonに質問を学習させる","info":"","x":140,"y":64,"wires":[]},{"id":"cd8c7d2c.b565e","type":"comment","z":"e53f5d4a.2e3208","name":"debugタブに出力された workspace_id をメモ","info":"","x":196,"y":306,"wires":[]},{"id":"691ad290.539444","type":"comment","z":"8cd22ed3.398b1","name":"Watsonの学習データを削除する","info":"","x":150,"y":60,"wires":[]},{"id":"f9fdc8e1.ec964","type":"comment","z":"fe7bad3a.02a57","name":"2. ユーザーからの入力受け付け","info":"","x":158,"y":166,"wires":[]},{"id":"82872d22.967aa8","type":"comment","z":"fe7bad3a.02a57","name":"1. ページの表示","info":"","x":115,"y":38,"wires":[]},{"id":"2ebdc73b.d7f07","type":"comment","z":"ff783546.737a8","name":"まず始めに（フローをインポートされた方へ）","info":"以下のNodeをダブルクリックし、\n外部サービスへの接続情報をセットしてください。\nダブルクリックするだけで、利用可能（バインドされているサービス）への\n接続情報がセットされます\n\n・Cloudant\n\n・Natural Language Classifier","x":200,"y":40,"wires":[]},{"id":"7bb62d25.5ef274","type":"comment","z":"ff783546.737a8","name":"以下ノードと同じノード全てをダブルクリックし外部サービスへの接続情報をセットしてください。","info":"","x":380,"y":81.25,"wires":[]},{"id":"a8f4f294.bd6178","type":"inject","z":"ff783546.737a8","name":"右の1つ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":115,"y":122.5,"wires":[["33c41905.54fc36"]]},{"id":"33c41905.54fc36","type":"cloudant in","z":"ff783546.737a8","name":"cloudant","cloudant":"","database":"demo","service":"noderedapp-yamaha-gakki-cloudantNoSQLDB","search":"_id_","design":"","index":"","x":256.2499694824219,"y":127,"wires":[["3591a7a6.81d93"]]},{"id":"3591a7a6.81d93","type":"debug","z":"ff783546.737a8","name":"です","active":true,"console":"false","complete":"payload","x":409,"y":128.25,"wires":[]},{"id":"e2f90c28.e2ef","type":"comment","z":"816137dd.87623","name":"Watsonの動きを確認しよう","info":"","x":140,"y":60,"wires":[]},{"id":"84c316a7.0bc2f8","type":"comment","z":"816137dd.87623","name":"質問：こんにちは","info":"","x":148,"y":115,"wires":[]},{"id":"3b227ce9.2b1944","type":"watson-conversation-v1","z":"fe7bad3a.02a57","name":"","workspaceid":"","multiuser":false,"context":false,"x":611,"y":321,"wires":[["d62793d9.729bc8","796845c8.d5acc4"]]},{"id":"796845c8.d5acc4","type":"debug","z":"fe7bad3a.02a57","name":"","active":false,"console":"false","complete":"false","x":848,"y":249,"wires":[]},{"id":"cae591eb.7282c","type":"http in","z":"fe7bad3a.02a57","name":"","url":"/conversation","method":"get","swaggerDoc":"","x":128.60006713867188,"y":99.566650390625,"wires":[["96e0bdcf.71cc78"]]},{"id":"eea1288c.4e5db","type":"template","z":"fe7bad3a.02a57","name":"画面を表示する","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"ja\">\n<head>\n    <meta charset=\"UTF-8\">\n    <link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" rel=\"stylesheet\"\n          integrity=\"sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u\" crossorigin=\"anonymous\">\n    <script src=\"//code.jquery.com/jquery-2.2.4.min.js\"></script>\n    <script>{{{payload.script}}}</script>\n    <style type=\"text/css\">\n    </style>\n    <title>Conversation Demo</title>\n</head>\n\n<body>\n<div class=\"container\">\n    <h1>Conversation Demo</h1>\n\n    <form id=\"formId\">\n        <div class=\"input-group\">\n            <input type=\"text\" class=\"form-control\" id=\"textId\" placeholder=\"メッセージを入力\">\n            <span class=\"input-group-btn\">\n                <button type=\"submit\" class=\"btn btn-primary\">送信</button>\n            </span>\n        </div>\n    </form>\n\n    <hr>\n\n    <div id=\"resultId\">\n        <p class=\"text-right\">{{{payload.welcome}}}</p>\n    </div>\n</div>\n</body>\n</html>","x":673.60009765625,"y":153.79998779296875,"wires":[["64c75f0a.b2d84"]]},{"id":"96e0bdcf.71cc78","type":"template","z":"fe7bad3a.02a57","name":"ウェルカムメッセージを設定する","field":"payload.welcome","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"こんにちは、ご希望の音楽を再生します。","x":409.6000671386719,"y":92.79998779296875,"wires":[["8e627495.956ab"]]},{"id":"64c75f0a.b2d84","type":"http response","z":"fe7bad3a.02a57","name":"","x":860.2333984375,"y":153.44998168945312,"wires":[]},{"id":"b669fd2f.b7d6a8","type":"http in","z":"fe7bad3a.02a57","name":"","url":"/conversation","method":"post","swaggerDoc":"","x":118.2333984375,"y":311.9499816894531,"wires":[["b83c22cb.29eda","d645be39.db1c98"]]},{"id":"d62793d9.729bc8","type":"http response","z":"fe7bad3a.02a57","name":"","x":866.090576171875,"y":322.7357177734375,"wires":[]},{"id":"b83c22cb.29eda","type":"debug","z":"fe7bad3a.02a57","name":"","active":false,"console":"false","complete":"req.body","x":386.2333984375,"y":246.44998168945312,"wires":[]},{"id":"d645be39.db1c98","type":"change","z":"fe7bad3a.02a57","name":"パラメータを設定する","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.body.text","tot":"msg"},{"t":"set","p":"additional_context","pt":"msg","to":"req.body.context","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":381.7333984375,"y":323.566650390625,"wires":[["3b227ce9.2b1944"]]},{"id":"8e627495.956ab","type":"template","z":"fe7bad3a.02a57","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"'use strict';\nlet context = {};\n\n$(document).ready(() => {\n    $('#formId').on('submit', () => {\n        let textId = $('#textId');\n        let resultId = $('#resultId');\n        let text = textId.val();\n\n        // 入力値が空でない場合\n        if (text !== '') {\n            resultId.append('<p class=\"text-left\">' + text + '</p>');\n\n            $.ajax({\n                \"type\": \"POST\",\n                \"url\": \"/conversation\",\n                \"data\": {\n                    \"text\": text,\n                    \"context\": context\n                }\n            }).done((result) => {\n                context = result.context;\n                resultId.append('<p class=\"text-right\">' + result.output.text + '</p>');\n            }).fail((result) => {\n                resultId.append('<p>エラーが発生しました。</p>');\n            }).always((result) => {\n            });\n\n            // 入力値をクリアする。\n            textId.val('');\n        }\n        \n        // Submit しない。\n        return false;\n    });\n});","x":467.7333984375,"y":153.566650390625,"wires":[["eea1288c.4e5db"]]},{"id":"be67820e.25684","type":"inject","z":"e53f5d4a.2e3208","name":"WorkSpace情報をセットしてクリック","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":220,"y":120.5,"wires":[["a9bd3160.00436"]]},{"id":"e2604109.68c348","type":"watson-conversation-v1-workspace-manager","z":"e53f5d4a.2e3208","name":"WorkSpaceを作成","cwm-custom-mode":"createWorkspace","cwm-workspace-id":"","cwm-intent":"","cwm-example":"","cwm-export-content":false,"x":341.0000305175781,"y":247,"wires":[["1c851820.57a47"]]},{"id":"1c851820.57a47","type":"debug","z":"e53f5d4a.2e3208","name":"","active":true,"console":"false","complete":"false","x":549,"y":244,"wires":[]},{"id":"10370597.b6fb42","type":"function","z":"e53f5d4a.2e3208","name":"textをJSONに変換","func":"var space = JSON.parse(msg.payload);\nmsg.payload = space;\nreturn msg;","outputs":1,"noerr":0,"x":819.7666015625,"y":136.7833251953125,"wires":[["e2604109.68c348"]]},{"id":"a9bd3160.00436","type":"template","z":"e53f5d4a.2e3208","name":"WorkSpace情報を定義","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\"name\":\"music\",\"created\":\"2017-05-19T02:23:18.239Z\",\"intents\":[{\"intent\":\"楽しい気分\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"examples\":[{\"text\":\"楽しい\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"たのしい\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"fun\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"}],\"description\":null},{\"intent\":\"今日の天気\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"examples\":[{\"text\":\"今日の天気は？\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"今日は晴れるの？\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"雨降るの？\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"今日はかさ要るの？\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"今日は傘は持ってけばいいの？\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"}],\"description\":null},{\"intent\":\"あいさつ\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T10:26:57.952Z\",\"examples\":[{\"text\":\"こんばんは\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"こんにちは\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"お疲れさまです\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"おつかれ\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"}],\"description\":null},{\"intent\":\"おはよう\",\"created\":\"2017-05-19T10:40:07.971Z\",\"updated\":\"2017-05-19T10:40:44.326Z\",\"examples\":[{\"text\":\"goodmorning\",\"created\":\"2017-05-19T10:40:35.202Z\",\"updated\":\"2017-05-19T10:40:35.202Z\"},{\"text\":\"good morning\",\"created\":\"2017-05-19T10:40:25.953Z\",\"updated\":\"2017-05-19T10:40:25.953Z\"},{\"text\":\"おはよう\",\"created\":\"2017-05-19T10:40:14.814Z\",\"updated\":\"2017-05-19T10:40:14.814Z\"},{\"text\":\"おはようございます\",\"created\":\"2017-05-19T10:40:44.326Z\",\"updated\":\"2017-05-19T10:40:44.326Z\"}],\"description\":null},{\"intent\":\"悲しい気分\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"examples\":[{\"text\":\"悲しい\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"かなしい\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"つらい\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"辛い\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"}],\"description\":null},{\"intent\":\"うれしい気分\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"examples\":[{\"text\":\"嬉しい\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"うれしい\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"HAPPY\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"}],\"description\":null},{\"intent\":\"不安な気分\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"examples\":[{\"text\":\"不安だ\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"ふあん\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"こわい\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"怖い\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"恐怖\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"}],\"description\":null},{\"intent\":\"音楽再生\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:34:45.040Z\",\"examples\":[{\"text\":\"音楽再生\",\"created\":\"2017-05-19T02:34:45.040Z\",\"updated\":\"2017-05-19T02:34:45.040Z\"},{\"text\":\"動画を探しています\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"音楽を流して\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"動画を再生して\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"},{\"text\":\"音楽をききたい\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\"}],\"description\":null},{\"intent\":\"音楽停止\",\"created\":\"2017-05-19T02:49:05.334Z\",\"updated\":\"2017-05-19T02:49:37.500Z\",\"examples\":[{\"text\":\"音楽停止\",\"created\":\"2017-05-19T02:49:09.179Z\",\"updated\":\"2017-05-19T02:49:09.179Z\"},{\"text\":\"音楽とめて\",\"created\":\"2017-05-19T02:49:15.873Z\",\"updated\":\"2017-05-19T02:49:15.873Z\"},{\"text\":\"音楽を停止したい\",\"created\":\"2017-05-19T02:49:21.551Z\",\"updated\":\"2017-05-19T02:49:21.551Z\"},{\"text\":\"音楽ていし\",\"created\":\"2017-05-19T02:49:30.231Z\",\"updated\":\"2017-05-19T02:49:30.231Z\"},{\"text\":\"音楽をとめて\",\"created\":\"2017-05-19T02:49:37.500Z\",\"updated\":\"2017-05-19T02:49:37.500Z\"}],\"description\":null}],\"updated\":\"2017-05-22T01:37:23.871Z\",\"entities\":[{\"entity\":\"weather\",\"values\":[{\"value\":\"晴れ\",\"created\":\"2017-05-19T02:58:14.621Z\",\"updated\":\"2017-05-19T02:58:44.271Z\",\"metadata\":null,\"synonyms\":[\"晴天\",\"はれ\"]},{\"value\":\"曇り\",\"created\":\"2017-05-19T02:58:52.603Z\",\"updated\":\"2017-05-19T02:59:05.128Z\",\"metadata\":null,\"synonyms\":[\"どんてん\",\"曇天\",\"くもり\"]},{\"value\":\"雨\",\"created\":\"2017-05-19T02:59:11.278Z\",\"updated\":\"2017-05-19T02:59:57.312Z\",\"metadata\":null,\"synonyms\":[\"大雨\",\"小雨\",\"豪雨\",\"あめ\"]}],\"created\":\"2017-05-19T02:56:48.020Z\",\"updated\":\"2017-05-19T02:59:57.312Z\",\"metadata\":null,\"description\":null},{\"entity\":\"goodmorning\",\"values\":[{\"value\":\"おはよう\",\"created\":\"2017-05-19T03:54:44.422Z\",\"updated\":\"2017-05-19T03:55:07.631Z\",\"metadata\":null,\"synonyms\":[\"おはようございます\",\"good morning\"]}],\"created\":\"2017-05-19T03:54:35.216Z\",\"updated\":\"2017-05-19T03:55:07.631Z\",\"metadata\":null,\"description\":null},{\"entity\":\"response\",\"values\":[{\"value\":\"はい\",\"created\":\"2017-05-19T09:59:38.720Z\",\"updated\":\"2017-05-19T10:07:02.720Z\",\"metadata\":null,\"synonyms\":[\"そんな感じ\",\"そのとおり\",\"そうそう\",\"そうです\",\"yes\",\"ハイ\"]},{\"value\":\"いいえ\",\"created\":\"2017-05-19T10:00:20.591Z\",\"updated\":\"2017-05-19T10:07:09.483Z\",\"metadata\":null,\"synonyms\":[\"いいえ\",\"それじゃない\",\"no\",\"違う\",\"ちがいます\"]},{\"value\":\"微妙\",\"created\":\"2017-05-19T10:14:41.012Z\",\"updated\":\"2017-05-19T10:14:41.012Z\",\"metadata\":null,\"synonyms\":[\"微妙\",\"そんなに\",\"びみょう\"]},{\"value\":\"普通\",\"created\":\"2017-05-19T10:15:25.728Z\",\"updated\":\"2017-05-19T10:15:25.728Z\",\"metadata\":null,\"synonyms\":[\"ぼちぼち\",\"soso\",\"まあまあ\",\"ふつう\"]}],\"created\":\"2017-05-19T09:59:27.288Z\",\"updated\":\"2017-05-19T10:15:25.728Z\",\"metadata\":null,\"description\":null},{\"entity\":\"genre\",\"values\":[{\"value\":\"クラシック\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"metadata\":null,\"synonyms\":[\"classic\",\"くらしっく\",\"クラシック\"]},{\"value\":\"ヒップホップ\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"metadata\":null,\"synonyms\":[\"hip-hop\",\"hiphop\",\"ひっぷほっぷ\",\"ヒップホップ\"]},{\"value\":\"J-POP\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"metadata\":null,\"synonyms\":[\"ほうがく\",\"邦楽\",\"JPOP\",\"J-POP\"]},{\"value\":\"ロック\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"metadata\":null,\"synonyms\":[\"rock\",\"ろっく\",\"ロック\"]},{\"value\":\"トップ10\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"metadata\":null,\"synonyms\":[\"トップテン\",\"流行\",\"流行り\",\"にんき\"]},{\"value\":\"PPAP\",\"created\":\"2017-05-19T02:36:42.422Z\",\"updated\":\"2017-05-19T02:36:42.422Z\",\"metadata\":null,\"synonyms\":[\"ぺんぱいなっぽーあっぽーぺん\",\"ペンパイナッポーアッポーペン\",\"ppap\"]}],\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:36:42.422Z\",\"metadata\":null,\"description\":null},{\"entity\":\"feeling\",\"values\":[{\"value\":\"嬉しい\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"metadata\":null,\"synonyms\":[\"うれしい\",\"happy\"]},{\"value\":\"楽しい\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"metadata\":null,\"synonyms\":[\"たのしい\",\"fun\"]},{\"value\":\"悲しい\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"metadata\":null,\"synonyms\":[\"sad\",\"かなしい\",\"辛い\",\"つらい\"]},{\"value\":\"不安な\",\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"metadata\":null,\"synonyms\":[\"ふあん\",\"不安\",\"恐怖\",\"きょうふ\",\"不安だ\"]}],\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:53:24.196Z\",\"metadata\":null,\"description\":null}],\"language\":\"ja\",\"metadata\":null,\"description\":\"\",\"dialog_nodes\":[{\"go_to\":null,\"output\":{},\"parent\":null,\"context\":null,\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T03:22:02.705Z\",\"metadata\":null,\"conditions\":\"@feeling\",\"description\":null,\"dialog_node\":\"node_30_1495164114458\",\"previous_sibling\":\"気分判定\"},{\"go_to\":null,\"output\":{},\"parent\":null,\"context\":null,\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T10:24:43.953Z\",\"metadata\":null,\"conditions\":\"#あいさつ\",\"description\":null,\"dialog_node\":\"あいさつ\",\"previous_sibling\":\"ようこそ\"},{\"go_to\":null,\"output\":{},\"parent\":\"おはよう\",\"context\":null,\"created\":\"2017-05-19T10:11:11.711Z\",\"updated\":\"2017-05-19T10:45:35.238Z\",\"metadata\":null,\"conditions\":\"@response\",\"description\":null,\"dialog_node\":\"おはようの返答\",\"previous_sibling\":null},{\"go_to\":null,\"output\":{},\"parent\":\"音楽再生\",\"context\":null,\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:54:31.341Z\",\"metadata\":null,\"conditions\":\"@genre\",\"description\":null,\"dialog_node\":\"ジャンル\",\"previous_sibling\":null},{\"go_to\":null,\"output\":{\"text\":{\"values\":[\"今日の天気は晴れ！最高気温24度。かなり温かい1日です。\"],\"selection_policy\":\"sequential\"}},\"parent\":null,\"context\":null,\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T03:01:58.982Z\",\"metadata\":null,\"conditions\":\"#今日の天気\",\"description\":null,\"dialog_node\":\"天気\",\"previous_sibling\":\"音楽停止\"},{\"go_to\":null,\"output\":{\"text\":{\"values\":[\"今日はよく眠れた？\"],\"selection_policy\":\"sequential\"}},\"parent\":null,\"context\":null,\"created\":\"2017-05-19T10:42:33.524Z\",\"updated\":\"2017-05-22T01:36:41.771Z\",\"metadata\":null,\"conditions\":\"#おはよう && @goodmorning:おはよう\",\"description\":null,\"dialog_node\":\"おはよう\",\"previous_sibling\":\"あいさつ\"},{\"go_to\":null,\"output\":{\"text\":{\"values\":[\"こんにちは、今の気分は？\"],\"selection_policy\":\"sequential\"}},\"parent\":null,\"context\":null,\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"metadata\":null,\"conditions\":\"welcome\",\"description\":null,\"dialog_node\":\"ようこそ\",\"previous_sibling\":null},{\"go_to\":null,\"output\":{\"text\":{\"values\":[\"どんな音楽がいい？\"],\"selection_policy\":\"sequential\"}},\"parent\":null,\"context\":null,\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:56:13.149Z\",\"metadata\":null,\"conditions\":\"#音楽再生\",\"description\":null,\"dialog_node\":\"音楽再生\",\"previous_sibling\":\"おはよう\"},{\"go_to\":null,\"output\":{\"text\":{\"values\":[\"音楽を停止するね。\"],\"selection_policy\":\"sequential\"}},\"parent\":null,\"context\":null,\"created\":\"2017-05-19T02:49:51.879Z\",\"updated\":\"2017-05-19T02:55:59.013Z\",\"metadata\":null,\"conditions\":\"#音楽停止\",\"description\":null,\"dialog_node\":\"音楽停止\",\"previous_sibling\":\"音楽再生\"},{\"go_to\":null,\"output\":{\"text\":{\"values\":[\"解釈できませんでした。申し訳ありませんが違う表現を試していただけますか。\",\"恐れ入りますが表現を変えていただけますか。解釈できませんでした。\"],\"selection_policy\":\"sequential\"}},\"parent\":null,\"context\":null,\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T02:23:18.239Z\",\"metadata\":null,\"conditions\":\"anything_else\",\"description\":null,\"dialog_node\":\"その他\",\"previous_sibling\":\"node_30_1495164114458\"},{\"go_to\":{\"return\":null,\"selector\":\"body\",\"dialog_node\":\"node_30_1495164114458\"},\"output\":{},\"parent\":null,\"context\":null,\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T03:24:23.731Z\",\"metadata\":null,\"conditions\":\"#うれしい気分 || #楽しい気分 || #悲しい気分 || #不安な気分\",\"description\":null,\"dialog_node\":\"気分判定\",\"previous_sibling\":\"天気\"},{\"type\":\"response_condition\",\"go_to\":null,\"output\":{\"text\":{\"values\":[\"では、@(feeling)ときに元気が出る曲を<a href=\\\"https://www.youtube.com/watch?v=aaOpAo4UtAg\\\" target=\\\"_blank\\\">こちら</a>から流します！\"],\"selection_policy\":\"sequential\"}},\"parent\":\"node_30_1495164114458\",\"context\":null,\"created\":\"2017-05-19T02:23:18.239Z\",\"updated\":\"2017-05-19T03:20:15.736Z\",\"metadata\":null,\"conditions\":\"@feeling:嬉しい || @feeling:楽しい || @feeling:悲しい || @feeling:不安な\",\"description\":null,\"dialog_node\":\"node_12_1495158691585\",\"previous_sibling\":null},{\"type\":\"response_condition\",\"go_to\":null,\"output\":{\"text\":{\"values\":[\"@(genre)の曲を再生するね。<a href=\\\"https://www.youtube.com/watch?v=Aw-jDzBS9KI\\\" target=\\\"_blank\\\">こちら</a>をクリックしてみて。\"],\"selection_policy\":\"sequential\"}},\"parent\":\"ジャンル\",\"context\":null,\"created\":\"2017-05-19T08:25:28.322Z\",\"updated\":\"2017-05-19T08:48:18.688Z\",\"metadata\":null,\"conditions\":\" @genre:J-POP\",\"description\":null,\"dialog_node\":\"node_35_1495182327926\",\"previous_sibling\":\"node_34_1495182165515\"},{\"type\":\"response_condition\",\"go_to\":null,\"output\":{\"text\":{\"values\":[\"@(genre)の曲を再生するね。<a href=\\\"https://www.youtube.com/watch?v=HFlgNoUsr4k\\\" target=\\\"_blank\\\">こちら</a>をクリックしてみて。\"],\"selection_policy\":\"sequential\"}},\"parent\":\"ジャンル\",\"context\":null,\"created\":\"2017-05-19T02:38:16.842Z\",\"updated\":\"2017-05-19T09:01:16.007Z\",\"metadata\":null,\"conditions\":\"@genre:PPAP\",\"description\":null,\"dialog_node\":\"node_23_1495161497474\",\"previous_sibling\":null},{\"type\":\"response_condition\",\"go_to\":null,\"output\":{\"text\":{\"values\":[\"@(genre)の曲を再生するね。<a href=\\\"https://www.youtube.com/watch?v=jgpJVI3tDbY\\\" target=\\\"_blank\\\">こちら</a>をクリックしてみて。\"],\"selection_policy\":\"sequential\"}},\"parent\":\"ジャンル\",\"context\":null,\"created\":\"2017-05-19T04:28:25.261Z\",\"updated\":\"2017-05-19T09:00:04.995Z\",\"metadata\":null,\"conditions\":\" @genre:クラシック\",\"description\":null,\"dialog_node\":\"node_33_1495168104816\",\"previous_sibling\":\"node_23_1495161497474\"},{\"type\":\"response_condition\",\"go_to\":null,\"output\":{\"text\":{\"values\":[\"@(genre)の曲を再生するね。<a href=\\\"https://www.youtube.com/watch?v=RHOooq6kFaw\\\" target=\\\"_blank\\\">こちら</a>をクリックしてみて。\"],\"selection_policy\":\"sequential\"}},\"parent\":\"ジャンル\",\"context\":null,\"created\":\"2017-05-19T08:28:48.374Z\",\"updated\":\"2017-05-19T08:39:00.070Z\",\"metadata\":null,\"conditions\":\" @genre:ヒップホップ\",\"description\":null,\"dialog_node\":\"node_37_1495182529265\",\"previous_sibling\":\"node_36_1495182398274\"},{\"type\":\"response_condition\",\"go_to\":null,\"output\":{\"text\":{\"values\":[\"@(genre)の曲を再生するね。<a href=\\\"https://www.youtube.com/watch?v=rkMjqFsizig\\\" target=\\\"_blank\\\">こちら</a>をクリックしてみて。\"],\"selection_policy\":\"sequential\"}},\"parent\":\"ジャンル\",\"context\":null,\"created\":\"2017-05-19T08:26:37.441Z\",\"updated\":\"2017-05-19T08:31:17.114Z\",\"metadata\":null,\"conditions\":\" @genre:トップ10\",\"description\":null,\"dialog_node\":\"node_36_1495182398274\",\"previous_sibling\":\"node_35_1495182327926\"},{\"type\":\"response_condition\",\"go_to\":null,\"output\":{\"text\":{\"values\":[\"@(genre)の曲を再生するね。<a href=\\\"https://www.youtube.com/watch?v=xk3_Kj4V_0E\\\" target=\\\"_blank\\\">こちら</a>をクリックしてみて。\"],\"selection_policy\":\"sequential\"}},\"parent\":\"ジャンル\",\"context\":null,\"created\":\"2017-05-19T08:22:44.685Z\",\"updated\":\"2017-05-19T08:26:26.336Z\",\"metadata\":null,\"conditions\":\"@genre:ロック\",\"description\":null,\"dialog_node\":\"node_34_1495182165515\",\"previous_sibling\":\"node_33_1495168104816\"},{\"type\":\"response_condition\",\"go_to\":null,\"output\":{\"text\":{\"values\":[\"<?input.text?>！今日の気分はどう？\"],\"selection_policy\":\"sequential\"}},\"parent\":\"あいさつ\",\"context\":null,\"created\":\"2017-05-19T03:57:07.757Z\",\"updated\":\"2017-05-19T03:57:14.493Z\",\"metadata\":null,\"conditions\":null,\"description\":null,\"dialog_node\":\"node_32_1495166228325\",\"previous_sibling\":null},{\"type\":\"response_condition\",\"go_to\":null,\"output\":{\"text\":{\"values\":[\"OK！おすすめの曲を流すね！<a href=\\\"https://www.youtube.com/watch?v=n1BLijmzZNE\\\" target=\\\"_blank\\\">こちら</a>からクリックしてください。\"],\"selection_policy\":\"sequential\"}},\"parent\":\"ジャンル\",\"context\":null,\"created\":\"2017-05-19T08:54:54.192Z\",\"updated\":\"2017-05-19T08:57:46.504Z\",\"metadata\":null,\"conditions\":\" @genre\",\"description\":null,\"dialog_node\":\"node_38_1495184095033\",\"previous_sibling\":\"node_37_1495182529265\"},{\"type\":\"response_condition\",\"go_to\":null,\"output\":{\"text\":{\"values\":[\"それはよかった！今日も一日がんばろう！\"],\"selection_policy\":\"sequential\"}},\"parent\":\"おはようの返答\",\"context\":null,\"created\":\"2017-05-19T10:11:26.798Z\",\"updated\":\"2017-05-19T10:16:06.642Z\",\"metadata\":null,\"conditions\":\"@response:はい || @response:普通\",\"description\":null,\"dialog_node\":\"node_3_1495188687601\",\"previous_sibling\":null},{\"type\":\"response_condition\",\"go_to\":null,\"output\":{\"text\":{\"values\":[\"それはたいへん！今日一日無理をしないようにね！\"],\"selection_policy\":\"sequential\"}},\"parent\":\"おはようの返答\",\"context\":null,\"created\":\"2017-05-19T10:12:24.128Z\",\"updated\":\"2017-05-19T10:16:23.150Z\",\"metadata\":null,\"conditions\":\"@response:いいえ || @response:微妙\",\"description\":null,\"dialog_node\":\"node_4_1495188744918\",\"previous_sibling\":\"node_3_1495188687601\"}],\"workspace_id\":\"8f7f32b1-7877-45ca-96d4-5929cfe8ed80\",\"counterexamples\":[]}","x":540.7666015625,"y":136.01666259765625,"wires":[["10370597.b6fb42"]]},{"id":"cc58937b.044a98","type":"inject","z":"816137dd.87623","name":"","topic":"","payload":"こんにちは","payloadType":"str","repeat":"","crontab":"","once":false,"x":148.76666259765625,"y":171.5500030517578,"wires":[["b0e0022a.8c429"]]},{"id":"bc95de52.241cd8","type":"debug","z":"816137dd.87623","name":"","active":true,"console":"false","complete":"false","x":598.7666015625,"y":198.55001831054688,"wires":[]},{"id":"b0e0022a.8c429","type":"watson-conversation-v1","z":"816137dd.87623","name":"","workspaceid":"","multiuser":false,"context":false,"x":355.7666320800781,"y":183.85000610351562,"wires":[["bc95de52.241cd8"]]},{"id":"f511e613.1d72d8","type":"inject","z":"e53f5d4a.2e3208","name":"クリックしてworkspace_idを表示","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":183.76666259765625,"y":370.5500183105469,"wires":[["d610f39b.1020f8"]]},{"id":"c2ed9b66.0e4a3","type":"debug","z":"e53f5d4a.2e3208","name":"","active":true,"console":"false","complete":"workspaces","x":711.7666015625,"y":388.5500183105469,"wires":[]},{"id":"d610f39b.1020f8","type":"watson-conversation-v1-workspace-manager","z":"e53f5d4a.2e3208","name":"workspace_idを取得","cwm-custom-mode":"listWorkspaces","cwm-workspace-id":"","cwm-intent":"","cwm-example":"","cwm-export-content":false,"x":456.7666015625,"y":372.8000183105469,"wires":[["c2ed9b66.0e4a3"]]},{"id":"d8f3057c.198558","type":"inject","z":"e53f5d4a.2e3208","name":"クリックしてworkspace_idを表示","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":206.88333129882812,"y":597.88330078125,"wires":[["3352f40f.c8c8fc"]]},{"id":"cdd18dba.b68c08","type":"debug","z":"e53f5d4a.2e3208","name":"","active":true,"console":"false","complete":"workspace","x":724.8832702636719,"y":615.88330078125,"wires":[]},{"id":"3352f40f.c8c8fc","type":"watson-conversation-v1-workspace-manager","z":"e53f5d4a.2e3208","name":"workspace_idを設定","cwm-custom-mode":"getWorkspace","cwm-workspace-id":"","cwm-intent":"","cwm-example":"","cwm-export-content":false,"x":479.8832702636719,"y":600.13330078125,"wires":[["cdd18dba.b68c08"]]},{"id":"fa67dd73.fb57c8","type":"comment","z":"e53f5d4a.2e3208","name":"workspace情報を取得","info":"","x":127,"y":540.88330078125,"wires":[]},{"id":"1938f1d9.ba57ee","type":"inject","z":"8cd22ed3.398b1","name":"workspace_idを指定して削除","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":186.76666259765625,"y":126.55000305175781,"wires":[["1a2fbe86.bcc359"]]},{"id":"1a2fbe86.bcc359","type":"watson-conversation-v1-workspace-manager","z":"8cd22ed3.398b1","name":"workspaceを削除","cwm-custom-mode":"deleteWorkspace","cwm-workspace-id":"","cwm-intent":"","cwm-example":"","cwm-export-content":false,"x":430.76666259765625,"y":128.5500030517578,"wires":[["5fafb8fa.bc1fd"]]},{"id":"5fafb8fa.bc1fd","type":"debug","z":"8cd22ed3.398b1","name":"","active":true,"console":"false","complete":"workspace","x":663.7666015625,"y":135.5500030517578,"wires":[]},{"id":"6a3dca2c.a60234","type":"comment","z":"816137dd.87623","name":"debugタブに、「こんにちは！今日の気分はどう？」と出力されることを確認する","info":"","x":348.76666259765625,"y":282.1000061035156,"wires":[]},{"id":"27e74f3f.8cd2c8","type":"comment","z":"fe7bad3a.02a57","name":"入力、出力の例: 【入力】→【出力】 ","info":"","x":186.76666259765625,"y":388.1000061035156,"wires":[]},{"id":"8ac73bf2.0c65e","type":"comment","z":"fe7bad3a.02a57","name":" ①こんにちは\t→こんにちは！今日の気分はどう？","info":"","x":315.76666259765625,"y":422.1000061035156,"wires":[]},{"id":"83159e85.32d1b8","type":"comment","z":"fe7bad3a.02a57","name":"②悲しい\t\t→では、悲しいときに元気が出る曲を<a href=\"https://www.youtube.com/watch?v=aaOpAo4UtAg\" target=\"_blank\">こちら</a>から流します！","info":"","x":617,"y":457.88330078125,"wires":[]},{"id":"b5d8fbe5.0ceaa8","type":"comment","z":"fe7bad3a.02a57","name":"③音楽をききたい\t→どんな音楽がいい？","info":"","x":286,"y":494.88330078125,"wires":[]},{"id":"aba846c7.9f3ca","type":"comment","z":"fe7bad3a.02a57","name":"④今日雨ふる？\t→今日の天気は晴れ！最高気温24度。かなり温かい1日です。","info":"","x":395,"y":530.88330078125,"wires":[]}]
